/* Http-request-gallery */

.img-container {
  display: block;
  position: relative;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img {
  position: absolute;
  width: 100%;
  max-width: 200px;
  height: auto;
}

.btn-prev {
  margin-left: 1rem;
  z-index: 30;
  position: absolute;
  left: 0;
}
.btn-next {
  margin-right: 1rem;
  z-index: 30;
  position: absolute;
  right: 0;
}

.image-active {
  display: block;
  z-index: 20;
}
